/target
**/target/
# Python venv
.venv/

# Vscode settings
.vscode/

# macOS junk
.DS_Store

# Python cache
__pycache__/
*.pyc

# Build artifacts
zac.egg-info/
zac/optimizer/optimizer_core/target/

# Demo output
out.json

# VS Code settings (opsiyonel)
.vscode/
