/target
**/target/

# Python venv
.venv/

# VS Code settings
.vscode/

# macOS junk
.DS_Store

# Python cache
__pycache__/
**/__pycache__/
*.pyc

# Build artifacts
zac.egg-info/
*.egg-info/
zac/optimizer/optimizer_core/target/

# Demo / generated output
out.json
*.log
